<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual - Simulador de Subestación Eléctrica</title>
    <link rel="stylesheet" href="/frontend/CSS/estilosManual.css">
</head>

<body>

    <header>
        <div class="header-content">
            <h1>Simulador de Subestación Eléctrica</h1>
            <nav>
                <ul>
                    <li><a href="/frontend/views/Bienvenida.html">Inicio</a></li>
                    <li><a href="/frontend/views/Plantillas.html">Simulador</a></li>
                    <li><a href="/frontend/views/Contacto.html">Contacto</a></li>
                    <li><a href="/Index.html">Salir</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Contenedor de texto con imágenes al lado -->
    <div class="text-and-images-container">
        <div class="text-content">
            <h2>Manual del Simulador</h2>
            <p>En esta sección encontrarás el manual completo del simulador de subestaciones eléctricas. Aquí se
                detallan los pasos necesarios para utilizar la herramienta, así como las funciones disponibles y
                consejos para un uso efectivo.</p>

            <p>El simulador está diseñado para ayudar en el aprendizaje sobre subestaciones eléctricas. En esta sección,
                podrás familiarizarte con la interfaz y las opciones disponibles.</p>


        </div>
    </div>
    <div class="text-and-images-container">
        <div class="text-content">

            <!--<h3>Configuración Inicial</h3>
      <p>Para comenzar, debes configurar el simulador según tus necesidades. Asegúrate de ajustar los parámetros
          adecuados para obtener los resultados deseados.</p> -->

            <h3>Uso del Simulador</h3>
            <p>Una vez configurado, puedes empezar a simular diferentes escenarios. Usa las herramientas disponibles
                para crear y modificar diagramas unifilares y analizar los resultados.</p>
            <p>1. Manual: Encontrarás algunos pasos y tips a seguir para hacer buen uso del sitio, aclararas algunas
                dudas y podrás leer el manual.</p>
                
            <p>2. Simulación: En la sección "Lienzo Elementos", puedes seleccionar imágenes de componentes y
                arrastrarlas al lienzo de simulación. También puedes conectarlos y guardar el estado actual, así como
                cargar un estado previamente guardado.</p>

        <div>
    </div>
    <div class="text-and-images-container">
        <div class="text-content">
            <img src="/frontend/assetss/Imagenes/subestacion1.jpg" alt="Subestación 1">
            <img src="/frontend/assetss/Imagenes/subestacion2.jpg" alt="Subestación 2">
            <img src="/frontend/assetss/Imagenes/subestacion3.jpg" alt="Subestación 3">
        </div>
    </div>

            <p>3. Contacto: Proporciona datos en los cuales puedes contactar con nosotros los desarrolladores del sitio
                para dudas, aclaraciones, o mejoras.
            </p>

    <div class="images-below-text">
        <img src="Imagenes/subestacion1.jpg" alt="Subestación 1">
        <img src="Imagenes/subestacion2.jpg" alt="Subestación 2">
        <img src="Imagenes/subestacion3.jpg" alt="Subestación 3">
    </div>
    
    <div class="text-and-images-container">
        <div class="text-content">
            <h3>Ejemplos y Prácticas</h3>
            <p>En esta sección, se incluyen ejemplos prácticos para ayudarte a comprender cómo utilizar el simulador en
                diferentes situaciones.</p>
            <h4>funciones</h4>
            <p>● Arrastrar y Soltar: Duplicar y mover imágenes en el lienzo.</p>
            <p>● Guardar y Cargar Estados: Almacenar el estado de la simulación y cargarlo cuando sea necesario.
            </p>
            <p>● Eliminar Componentes: Opción para eliminar imágenes seleccionadas o todos los componentes del lienzo.
            </p>
            <p>● Generar lienzo: Se crea un lienzo de determinado tamaño para trabajar las simulaciones futuras. v</p>
        </div>
    </div>

    <!-- Contenedor de imágenes debajo del texto -->
    <div class="images-below-text">
        <img src="Imagenes/subestacion1.jpg" alt="Subestación 1">
        <img src="Imagenes/subestacion2.jpg" alt="Subestación 2">
        <img src="Imagenes/subestacion3.jpg" alt="Subestación 3">
    </div>
    
    <footer>
        <p>&copy; 2024 Simulador de Subestación Eléctrica</p>
    </footer>

</body>

</html>