<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Crear Nueva Plantilla - Simulador Subestacion Electrica</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/frontend/CSS/estilosBienvenida.css">
</head>

<body>
  <header>
    <div class="header-content">
      <h1>Simulador de Subestación Eléctrica</h1>
      <nav>
        <ul>
          <li><a href="/frontend/views/Bienvenida.html">Inicio</a></li>
          <li><a href="/frontend/views/Manual.html">Manual</a></li>
          <li><a href="/frontend/views/Plantillas.html">Plantillas</a></li>
          <li><a href="/frontend/views/Contacto.html">Contacto</a></li>

        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <h2>Crear Nueva Plantilla</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>
              <a href="/frontend/views/plantillaBarraSimple.html">
                <img src="/frontend/assetss/Imagenes/diagramaBarraSimple.png" class="img-fluid" alt="Opción 1">
              </a>
            </td>
            <td>
              <div class="caption">Barra Simple: La configuración de barra simple es el diseño más básico y económico para una subestación eléctrica. Consiste en una sola barra que conecta dos o más circuitos, sin interruptores de enlace adicionales. Esta topología es comúnmente utilizada en distribución y transmición de baja tensión.</div>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/frontend/views/plantillaBarraDoble.html">
                <img src="/frontend/assetss/Imagenes/diagramaBarraDoble.png" class="img-fluid" alt="Opción 2">
              </a>
            </td>
            <td>
              <div class="caption">Barra Doble: La barra doble es una configuración común en subestaciones eléctricas de trasnmisión y distribución, especialmente en sectores críticos de continuidad de servicio. Se caracteriza por disponer de dos barras principales, cada una con su propio sistemas de protección y control, lo que garantiza la continuidad del servicio en caso de falla en una de las barras.</div>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/frontend/views/plantillaBarraTransferencia.html">
                <img src="/frontend/assetss/Imagenes/diagramaBarraTransferencia.png" class="img-fluid" alt="Opción 3">
              </a>
            </td>
            <td>
              <div class="caption">Barra Doble con Transferencia: La configuración de la Barra Doble con Transferencia (BDT) es un arreglo común en subestaciones eléctricas que combina la flexibilidad de dos barras paralelas con la capacidad de transferir carga entre ellas sin interrupcion del servicio. Esta configuración se utiliza para mejorar la confiabilidad y la disponibilidad de la subestación, especialmente en sistemas de transmisión y distribución de alta potencia.</div>
            </td>
          </tr>
          <!--
          <tr>
            <td>
              <a href="PlantillaOpcion4.html">
                <img src="Imagenes/plantilla4.png" class="img-fluid" alt="Opción 4">
              </a>
            </td>
            <td>
              <div class="caption">Opción 4: Descripción detallada de la cuarta opción de plantilla.</div>
            </td>
          </tr>
          <tr>
            <td>
              <a href="PlantillaOpcion5.html">
                <img src="Imagenes/plantilla5.png" class="img-fluid" alt="Opción 5">
              </a>
            </td>
            <td>
              <div class="caption">Opción 5: Descripción detallada de la quinta opción de plantilla.</div>
            </td>
          </tr>
          <tr>
            <td>
              <a href="PlantillaOpcion6.html">
                <img src="Imagenes/plantilla6.png" class="img-fluid" alt="Opción 6">
              </a>
            </td>
            <td>
              <div class="caption">Opción 6: Descripción detallada de la sexta opción de plantilla.</div>
            </td>
          </tr>
          -->
        </tbody>
      </table>
    </div>
  </div>


  <footer>
    <p>&copy; 2024 Simulador de Subestacion Electrica. Todos los derechos reservados al Instituto Politecnico
      Nacional.</p>
  </footer>

</body>

</html>