<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plantillas - Simulador Subestacion Electrica</title>
  <link rel="stylesheet" href="/frontend/CSS/estilosPlantillas.css">
</head>

<body>
  <header>
    <h1>Simulador Subestacion Electrica</h1>
    <nav>
      <ul>
        <li><a href="/frontend/views/Bienvenida.html">Inicio</a></li>
        <li><a href="/frontend/views/Manual.html">Manual</a></li>
        <li><a href="/frontend/views/Contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <div class="plantillas-container">
    <div class="plantilla">
      <a href="/frontend/views/PlantillaNueva.html">
        <img src="/frontend/assetss/Imagenes/nuevo.png" alt="Crear Nueva Plantilla">
        <h1>Nueva Plantilla</h1>
      </a>
    </div>
    <div class="plantilla">
      <a href="/frontend/views/PlantillaHecha.html">
        <img src="/frontend/assetss/Imagenes/nuevo.png" alt="Crear Plantilla Hecha">
        <h1>Plantilla Hecha</h1>
      </a>
    </div>
  </div>

  <footer>
    <p>&copy; 2024 Simulador de Subestacion Electrica. Todos los derechos reservados al Instituto Politecnico
      Nacional.</p>

  </footer>
</body>

</html>